:root {
  --color-primary: yellowgreen; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  background-color: #777; }

.container {
  max-width: 100%;
  background-color: #f0eeee;
  display: grid;
  grid-template-rows: 7rem 8rem 1fr 9rem;
  grid-template-columns: 30rem 1fr;
  grid-gap: 2rem; }
  @media only screen and (max-width: 75em) {
    .container {
      grid-template-columns: 26rem 1fr; } }
  @media only screen and (max-width: 68.75em) {
    .container {
      grid-template-columns: 22rem 1fr; } }
  @media only screen and (max-width: 56.25em) {
    .container {
      grid-template-columns: 20rem 1fr;
      grid-gap: 1rem; } }
  @media only screen and (max-width: 37.5em) {
    .container {
      grid-template-columns: 14rem 1fr;
      grid-gap: .5rem; } }
  @media only screen and (max-width: 31.25em) {
    .container {
      grid-template-columns: 13rem 1fr;
      grid-gap: .5rem; } }

.header {
  background-color: #0E416B;
  padding: 20px;
  grid-column: 1/-1;
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.services-catalog {
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  justify-content: flex-start; }

.sidebar {
  background-color: #fff;
  border-radius: .5rem;
  margin-left: 2rem;
  box-shadow: 2px 4px 12px rgba(11, 68, 70, 0.25); }
  @media only screen and (max-width: 56.25em) {
    .sidebar {
      margin-left: 1rem; } }
  @media only screen and (max-width: 37.5em) {
    .sidebar {
      margin-left: 0; } }

.main-content {
  background-color: #f0eeee;
  margin-right: 2rem;
  display: grid;
  grid-template-rows: 5rem 2rem 1fr 1fr 1fr 6rem;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem; }
  @media only screen and (max-width: 56.25em) {
    .main-content {
      grid-gap: 1rem;
      margin-right: 1rem; } }
  @media only screen and (max-width: 37.5em) {
    .main-content {
      grid-template-rows: 5rem 2rem 1fr 1fr 1fr 4rem;
      grid-gap: .5rem;
      margin-right: 0; } }

.footer {
  background-color: #0E416B;
  grid-column: 1/-1; }

.main-icon {
  display: flex;
  justify-content: flex-start; }

.logo {
  height: 4.5rem;
  margin-right: 2rem; }

.icon-service-1 {
  display: flex;
  justify-content: center;
  align-items: center; }

.service1__icon {
  height: 2rem;
  width: 2rem;
  fill: white;
  margin-right: 1rem; }

.service2__icon {
  height: 8rem;
  width: 8rem;
  fill: #0E416B;
  margin: 2rem;
  padding: 2rem;
  border-radius: 20%;
  background-color: #fff;
  border: .5px solid #0E416B; }
  @media only screen and (max-width: 37.5em) {
    .service2__icon {
      height: 6rem;
      width: 6rem;
      padding: 1rem; } }

.heading-primary {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem; }

.heading-primary-main {
  display: block;
  font-size: 2rem;
  font-family: sans-serif;
  margin-bottom: 1rem; }

.heading-primary-sub {
  display: block;
  font-size: 1.4rem;
  font-weight: lighter; }

.serv-catalog {
  color: white;
  font-size: 2rem; }

.icon-login {
  display: flex;
  justify-content: center;
  align-items: center; }

.login__icon {
  height: 2rem;
  width: 2rem;
  fill: white; }

.user-login {
  color: white;
  font-size: 2rem;
  padding: 0 1rem; }

.service {
  margin: 2.5rem;
  font-size: 1.5rem;
  list-style: none;
  color: black; }
  @media only screen and (max-width: 37.5em) {
    .service {
      margin-bottom: 1.5rem;
      font-size: 1rem; } }

.btn-inline {
  border: none;
  color: black;
  font-size: inherit;
  border-bottom: 1px solid gray;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent; }
  @media only screen and (max-width: 68.75em) {
    .btn-inline {
      font-size: 1.2rem; } }
  @media only screen and (max-width: 56.25em) {
    .btn-inline {
      font-size: 1rem; } }
  @media only screen and (max-width: 37.5em) {
    .btn-inline {
      font-size: .75rem; } }
  @media only screen and (max-width: 31.25em) {
    .btn-inline {
      font-size: .75rem; } }

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;
  margin-right: .5rem; }
  @media only screen and (max-width: 68.75em) {
    .side-nav {
      font-size: 1.2rem;
      margin-right: 0; } }
  @media only screen and (max-width: 37.5em) {
    .side-nav {
      font-size: 1.2rem;
      margin-top: 0;
      margin-right: 0; } }
  .side-nav__link:link, .side-nav__link:visited {
    color: grey;
    text-decoration: none;
    padding: 1rem 3rem;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .side-nav__link:link, .side-nav__link:visited {
        font-size: 1.2rem;
        padding: 1rem; } }
    @media only screen and (max-width: 37.5em) {
      .side-nav__link:link, .side-nav__link:visited {
        font-size: 1rem;
        padding: 1rem; } }
    @media only screen and (max-width: 31.25em) {
      .side-nav__link:link, .side-nav__link:visited {
        font-size: 1rem;
        padding: .5rem; } }
  .side-nav__icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .75rem;
    fill: currentColor; }
    @media only screen and (max-width: 37.5em) {
      .side-nav__icon {
        width: 1rem;
        height: 1rem; } }

.search {
  background-color: #f0eeee;
  border-radius: .5rem;
  grid-column: 1/-1;
  display: flex;
  align-items: flex-start; }
  .search__input {
    font-family: inherit;
    font-size: 1.5rem;
    color: inherit;
    background-color: white;
    border: .5px solid #999;
    padding: .5rem 2rem;
    border-radius: .5rem;
    height: 3.5rem;
    width: 100%;
    margin-right: -4.25rem; }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: #999;
    margin: 1rem; }

.user-nav {
  background-color: #f0eeee;
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .user-nav__showing {
    font-size: 1.5rem;
    font-family: inherit;
    color: #100d0d; }
  .user-nav__icon1 {
    height: 3.5rem;
    width: 3.5rem;
    fill: #0E416B;
    background-color: white;
    border: 1px solid #0E416B; }
  .user-nav__icon2 {
    background-color: white;
    height: 3.5rem;
    width: 3rem;
    fill: #0E416B; }

.description {
  background-color: white;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  margin-bottom: .5rem;
  box-shadow: 2px 4px 12px rgba(11, 68, 70, 0.25);
  border-left: 5px solid #1983da; }
  @media only screen and (max-width: 75em) {
    .description {
      padding: 2.5rem;
      margin-bottom: 0; } }
  @media only screen and (max-width: 68.75em) {
    .description {
      padding: 2rem;
      margin-bottom: 0; } }
  @media only screen and (max-width: 56.25em) {
    .description {
      padding: 1rem;
      margin-bottom: 0; } }
  @media only screen and (max-width: 37.5em) {
    .description {
      padding: 1rem;
      margin-bottom: 0; } }
  @media only screen and (max-width: 31.25em) {
    .description {
      padding: 1rem;
      margin-bottom: 0; } }
  .description__icon1 {
    height: 10rem;
    width: 10rem;
    fill: #1983da;
    background-color: #f0eeee;
    border-radius: 50%;
    padding: 1.5rem;
    margin-bottom: 3rem; }
    @media only screen and (max-width: 68.75em) {
      .description__icon1 {
        margin-bottom: 2rem; } }
    @media only screen and (max-width: 56.25em) {
      .description__icon1 {
        margin-bottom: 1.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .description__icon1 {
        height: 6rem;
        width: 6rem;
        margin-bottom: .5rem; } }
    @media only screen and (max-width: 31.25em) {
      .description__icon1 {
        height: 5rem;
        width: 5rem;
        margin-bottom: 0; } }
  .description__icon2 {
    height: 10rem;
    width: 10rem;
    fill: #999;
    background-color: #f0eeee;
    border-radius: 50%;
    padding: 1.5rem;
    margin-bottom: 3rem; }
    @media only screen and (max-width: 68.75em) {
      .description__icon2 {
        margin-bottom: 2rem; } }
    @media only screen and (max-width: 56.25em) {
      .description__icon2 {
        margin-bottom: 1.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .description__icon2 {
        height: 6rem;
        width: 6rem;
        margin-bottom: .5rem; } }
    @media only screen and (max-width: 31.25em) {
      .description__icon2 {
        height: 5rem;
        width: 5rem;
        margin-bottom: 0; } }
  .description__icon3 {
    height: 10rem;
    width: 10rem;
    fill: #0E416B;
    background-color: #f0eeee;
    border-radius: 50%;
    padding: 1.5rem;
    margin-bottom: 3rem; }
    @media only screen and (max-width: 68.75em) {
      .description__icon3 {
        margin-bottom: 2rem; } }
    @media only screen and (max-width: 56.25em) {
      .description__icon3 {
        margin-bottom: 1.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .description__icon3 {
        height: 6rem;
        width: 6rem;
        margin-bottom: .5rem; } }
    @media only screen and (max-width: 31.25em) {
      .description__icon3 {
        height: 5rem;
        width: 5rem;
        margin-bottom: 0; } }
  .description__catalog {
    margin-bottom: 1rem; }
    @media only screen and (max-width: 37.5em) {
      .description__catalog {
        margin-bottom: .5rem;
        font-size: 1.2rem; } }
  .description__name {
    margin-bottom: 1rem; }
    @media only screen and (max-width: 37.5em) {
      .description__name {
        margin-bottom: .5rem;
        font-size: 1rem; } }

.paragraph {
  font-size: 1.4rem;
  font-family: sans-serif;
  color: gray;
  text-align: justify; }
  @media only screen and (max-width: 37.5em) {
    .paragraph {
      font-size: 1rem; } }

.page {
  background-color: white;
  border-radius: .5rem;
  grid-column: 1/-1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 2px 4px 12px rgba(11, 68, 70, 0.25); }
  .page__icon {
    background-color: #f0eeee;
    font-size: 1rem;
    font-weight: inherit;
    color: inherit;
    border-radius: .5rem;
    margin-right: 1rem;
    padding: 1rem; }
  .page__icon1 {
    background-color: #0E416B;
    color: white;
    font-size: 1rem;
    font-weight: inherit;
    border-radius: .5rem;
    margin-right: 1rem;
    padding: 1rem; }
