.logo {
  height: 3.25rem;
}

.icon-service-1 {

}

.service1__icon {
  height: 2rem;
  width: 2rem;
  fill: white;
}

.serv-catalog {
color: white;
}

.icon-login {

}

.login__icon {
  height: 2rem;
  width: 2rem;
  fill: white;
}

.user-login {
  color: white;
}


