// HEADER

.main-icon {
  display: flex;
  justify-content: flex-start;
}

.logo {
  height: 4.5rem;
  margin-right: 2rem;
}

.icon-service-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.service1__icon {
  height: 2rem;
  width: 2rem;
  fill: white;
  margin-right: 1rem;
}

.service2__icon {
  height: 8rem;
  width: 8rem;
  fill: #0E416B;
  margin: 2rem;
  padding: 1rem;
  border-radius: 20%;
  background-color:#fff;
  border: .5px solid #0E416B;
}

.heading-primary {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.heading-primary-main {
  display: block;
  font-size: 2rem;
  font-family: sans-serif;
  margin-bottom: 1rem;
}

.heading-primary-sub {
  display: block;
  font-size: 1.4rem;
  font-weight: lighter;
}

.serv-catalog {
  color: white;
  font-size: 2rem;
}

.icon-login {
  display: flex;
  justify-content: center;
  align-items: center;

}

.login__icon {
  height: 2rem;
  width: 2rem;
  fill: white;

}

.user-login {
  color: white;
  font-size: 2rem;
  padding: 0 1rem;
}



// SIDEBAR
.service{
  font-size: 1.5rem;
  list-style: none;
  margin: 2.5rem;
  color: black;
}
.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;
  margin-right: .5rem;


  &__item {
    //margin-bottom: .5rem;
    //margin-top:1.5rem;
  }

  &__link:link,
  &__link:visited {
    color: grey;
    text-decoration: none;
    padding: 1rem 3rem;

    display: flex;
    align-items: center;
  }


  &__icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .75rem;
    fill: currentColor;
  }
}


