.container {
  max-width: 120rem;
  margin: 3rem auto;
  background-color: #f0eeee;
  min-height: 50rem;
  display: grid;
  grid-template-rows: 7rem 8rem 1fr 9rem;
  grid-template-columns: 30rem 1fr;
  grid-gap: 2rem;
}
.header {
  background-color: #0E416B;
  padding: 20px;
  grid-column: 1/-1;
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.services-catalog {
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.sidebar {
  background-color: #fff;
  border-radius: .5rem;
  margin-left: 2rem;
  border: .5px solid  #999;
}

.main-content {
  background-color: #f0eeee;
  margin-right: 2rem;
  display: grid;
  //grid-template-rows: 5rem 5rem 30rem 30rem 30rem 6rem;
  grid-template-rows: 5rem 2rem 1fr 1fr 1fr 6rem;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
.footer {
  background-color: #0E416B;
  grid-column: 1/-1;
}

