//PAGE

.page {
  background-color: white;
  border-radius: .5rem;
  grid-column: 1/-1;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &__icon {
    background-color: #f0eeee;
    font-size: 1rem;
    font-weight: inherit;
    color: inherit;
    border-radius: .5rem;
    margin-right: 1rem;
    padding: 1rem;
  }

  &__icon1 {
    background-color: #0E416B;
    color: white;
    font-size: 1rem;
    font-weight: inherit;
    border-radius: .5rem;
    margin-right: 1rem;
    padding: 1rem;
  }
}
